{% extends 'base.html' %}

{% block content %}

<div class="row account-contant">
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h1>Profile</h1>
                    </div>
                    <div class="breadcrumb-bar align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}"><i class="ti ti-home"></i></a>
                                </li>
                             
                                <li class="breadcrumb-item active text-primary" aria-current="page">profile</li>
                            </ol>
                        </nav>
                    </div>
                
                </div>
                <!-- end page title -->
            </div>
        </div>
    <div class="col-12">
        <div class="card card-statistics">
            <div class="card-body p-0">
                <div class="row no-gutters">
                    <div class="col-xl-3 pb-xl-0 pb-5 border-right">
                        <div class="page-account-profil pt-5">
                            <div class="profile-img text-center rounded-circle">
                                <div class="pt-5">
                                    <div class="bg-img m-auto">
                                        {{user.avatar}}
                                    </div>
                                    <div class="profile pt-4">
                                        <h4 class="mb-1">{{request.user}}</h4>
                                        <p>{{request.email}}</p>
                                    </div>
                                </div>
                            </div>

                        
                            <div class="profile-btn text-center">
                                <div><button class="btn btn-light text-primary mb-2">Upload New Avatar</button></div>
                                <div><button class="btn btn-danger">Delete</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-6 col-12 border-t border-right">
                        <div class="page-account-form">
                            <div class="form-titel border-bottom p-3">
                                <h5 class="mb-0 py-2">Edit Your Personal Settings</h5>
                            </div>
                            <div class="p-4">
                                <form method="post">
                                    {% csrf_token %}
                                    {{user_form.as_p}}
                         
                                    <button type="submit" class="btn btn-primary">Update Information</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 border-t col-12">
                        <div class="page-account-form">
                            <div class="form-titel border-bottom p-3">
                                <h5 class="mb-0 py-2">Update Your Password</h5>
                            </div>
                            <div class="p-4">
                                <form method="post" action="">
                                    <!-- <div class="form-group">
                                        <label for="fb">Current Password</label>
                                        <input type="password" class="form-control" name="old-password">
                                    </div>
                                    <div class="form-group">
                                        <label for="tr">New Password</label>
                                        <input type="password" class="form-control" name="password1">
                                    </div>

                                    <div class="form-group">
                                        <label for="br">Confirm New Password</label>
                                        <input type="password" class="form-control" name="password2">
                                    </div> -->

                                

                                 

                                    
                                    <a href="{% url 'update_password' %}"><button type="button" class="btn btn-primary">Change Password</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}