{% extends 'main.html' %}
{% block title %}
    {{page_title}}
{% endblock title %}

{% block content %}
    <div class="container mt-5 mb-5 p-10">
        <div class="row">
            <div class="col">
                
            </div> 
            <div class="col">
                <div class="cotainer">
                    <div class="card">
                        <div class="card-header">{{page_name}}</div>
                    
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{field.label}}
                                    {% if field.error %}
                                    <p>{{field.error}}</p>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{field}}
                                </div>
                               
                                

                            {% endfor %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
            </div>
            <div class="col">
                
            </div>
        </div>
        
      
    </div>


{% endblock %}