{% extends 'base.html' %}
{% block title %}
    New Sale
{% endblock title %}
{% load crispy_forms_tags %}          

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-lg-flex flex-nowrap align-items-center">
                <div class="page-title mr-4 pr-4 border-right">
                    <h1>New Sale</h1>
                </div>
                <div class="breadcrumb-bar align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}"><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                Sales
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">new-sale</li>
                        </ol>
                    </nav>
                </div>
            
            </div>
            <!-- end page title -->
        </div>
    </div>
    <div class="row ">
        <div class="col">
            
        </div> 
        <div class="col">
            <div class="cotainer">
                <div class="card">
                    <div class="card-header">{{page_name}}</div>
                
                <div class="card-body"> 
            <form method="post" action="">                    
                {% csrf_token %}
                
                    <div class="form-group">
                        
                        {{ form|crispy }}                    

                    </div>
                    
                    
               
                
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
                    
                   
                </div>
            </div>
        </div>
        </div>
        <div class="col">
            
        </div>
    </div>
    
  
</div>
        
      
    </div>


{% endblock %}