{% extends 'base.html' %}
{% block title %}Sale List{% endblock %}

{% block content %}
<br>
    <div class="container justify-content-center">
     <div>
        <a href="{% url 'new_sale' %}"><button class="btn btn-primary">Add new sale</button></a>
     </div>
        <div class="card mb-4 mt-2">
            <div class="card-header">
                <h4>{{page_name}}</h4>
            </div>
            <div class="card-body">
                <div class="container">
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <th>No</th>
                            <th>Customer</th>
                            <th>Fuel Type</th>
                            <th>Volume</th>
                            <th>Amount</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                {% for sale in sales %}
                                
                                <td>{{sale.id}}</td>
                                <td>{{sale.customer_name}}</td>
                                <td>{{sale.fuel}}</td>
                                <td>{{sale.volume}}</td>
                                <td>${{sale.amount}}</td>
                                <td>{{sale.created}}</td>
                                <td>
                                    <a href="{% url 'update_sale' sale.id %}"><button class="btn btn-info">update</button></a>
                                    <a href="{% url 'delete_sale' sale.id %}" onclick="return confirm('Are you sure you want to delete this item?');"><button class="btn btn-danger">Delete</button></a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

   

{% endblock %}