{% extends 'base.html' %}

{% block title %}Stock List{% endblock %}

{% block content %}
<br>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h1>All Stocks</h1>
                    </div>
                    <div class="breadcrumb-bar align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    Stocks
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">view-all</li>
                            </ol>
                        </nav>
                    </div>
                
                </div>
                <!-- end page title -->
            </div>
        </div>
     <div>
        {% if perms.base.add_stock %}
        <a href="{% url 'new_stock' %}"><button class="btn btn-primary">Add New Stock</button></a>
     {% endif  %}
    </div>
        <div class="card mb-4 mt-2">
            <div class="card-header">
                <h4>{{page_name}}</h4>
            </div>
            <div class="card-body scrollbar scroll_dark pt-0" style="max-height: 350px;">
                <div class="datatable-wrapper table-responsive">
                    <table id="datatable" class="table table-borderless table-striped">
                        <thead>
                            <th>No</th>
                            <th>Fuel Type</th>
                            <th>Volume</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                {% for stock in stocks %}
                                
                                <td>{{forloop.counter}}</td>
                                <td>{{stock.fuel}}</td>
                                <td>{{stock.volume}}</td>
                                <td>{{stock.created}}</td>
                                <td>
                                    <a class="mr-3" href="{% url 'update_stock' stock.id %}"><i class="fe fe-edit"></i></a><a href="{% url 'delete_stock' stock.id %}" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fe fe-trash-2"></i></a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

   

{% endblock %}